# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno (sensibles)
.env
*.env
.env.local
.env.bak

# Logs
logs/
*.log

# Compilación y cachés
dist/
build/
.cache/
*.tsbuildinfo

# Archivos del sistema
.DS_Store
Thumbs.db

# Carpetas de entorno virtual (por si mezclás Python)
venv/
.venv/
env/

# Archivos de Python (por si usás scripts)
__pycache__/
*.pyc
*.pyo
*.pyd

#sesion del whatsapp web
.wwebjs_cache/
